export OS_USERNAME=
export OS_PASSWORD=
export OS_AUTH_URL=
export OS_USER_DOMAIN_NAME=
export OS_PROJECT_DOMAIN_NAME=
export OS_REGION_NAME=
export OS_PROJECT_NAME=""
export OS_TENANT_NAME=""
export OS_AUTH_VERSION=
export OS_IDENTITY_API_VERSION=